html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
#container{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
width: 50%;
height: 80%;
margin: 20px auto 0;
font: normal 28pt sans-serif;
color: white;
background-color: black;
grid-gap: 3px;
padding: 3px;
}
#container > div{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#555555;
}
#container > div:hover{
    background-color:#801212;
    color: black;
}