html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
#container{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
width: 50%;
height: 80%;
margin: 20px auto 0;
font: normal 28pt sans-serif;
color: white;
background-color: black;
grid-gap: 3px;
padding: 3px;
}
#container > div{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#555555;
}
#container > div:hover{
    background-color:#801212;
    color: black;
}
#container > div:nth-child(1){
    grid-row: 4;
   grid-column: 1;

}
#container > div:nth-child(10){
    grid-row: 5;
   grid-column: 1/3;

}
#container > div:nth-child(2){
    grid-row: 4;
   grid-column: 2;
}
#container > div:nth-child(3){
    grid-row: 4;
   grid-column: 3;
}
#container > div:nth-child(13){
    grid-row: 4;
   grid-column: 4;
}
#container > div:nth-child(15){
    grid-row: 5;
   grid-column: 3;
}
#container > div:nth-child(14){
    grid-row: 5;
   grid-column: 4;
}
#container > div:nth-child(4){
    grid-row: 3;
   grid-column: 1;
}
#container > div:nth-child(5){
    grid-row: 3;
   grid-column: 2;
}
#container > div:nth-child(6){
    grid-row: 3;
   grid-column: 3;
}
#container > div:nth-child(7){
    grid-row: 2;
   grid-column: 1;
}
#container > div:nth-child(8){
    grid-row: 2;
   grid-column: 2;
}
#container > div:nth-child(9){
    grid-row: 2;
   grid-column: 3;
}
#container > div:nth-child(12){
    grid-row: 3;
   grid-column: 4;
}
#container > div:nth-child(11){
    grid-row: 2;
   grid-column: 4;
}
#container > div:nth-child(16){
    grid-row: 1;
   grid-column: 1/5;
}